/* Não trabalhar com width com porcentagens do tipo 50% 30%, normalmente quando eu preciso usar o width ou é com uma medida fixa como px/rem ou 100% */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 50px;
  }

  .container .company {
    margin-top: 30px;
    text-align: center;
  }

  .container .company .title {
    font-size: 30px;
  }

  .container .company .description {
    font-size: 17px;
    width: 100%;
    margin: 30px auto 0;
  }

  .container .register .link .sell {
    font-size: 15px;
    font-weight: 300;
  }

  .container form {
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .container .company .title {
    font-size: 30px;
    margin: auto;
  }

  .container .company .description {
    font-size: 17px;
  }

  .container .register {
    width: 18rem;
  }

  .container .register .link .sell {
    padding: 20px 30px;
  }

  .container form {
    padding: 20px;
  }

  .container form .button-form {
    font-weight: 300;
  }
}