@media (max-width: 375px) {
  .container .company .title {
    background-color: black;
    font-size: 15px;  
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 50px;
  }

  .container .company {
    margin-top: 30px;
    width: 50%;
    text-align: center;
  }

  .container .company .title {
    font-size: 30px;
  }

  .container .company .description {
    font-size: 17px;
    width: 100%;
    margin: 30px auto 0;
  }

  .container .register .link .sell {
    font-size: 15px;
    font-weight: 300;
  }

  .container form {
    width: 100%;
    margin-bottom: 30px;
  }
}