body {
  font-family: 'Poppins', sans-serif;
  background: url(../images/bg-intro-mobile.png) center;
  background-color: var(--Primary-Red);
  height: 100vh;
  max-width: 1440px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 150px 0;
  gap: 50px;
}

.container .company {
  width: 100%;
}

.container .company .title, .container .company .description {
  color: #FFF;
}

.container .company .title {
  font-size: 45px;
  width: 95%;
}

.container .company .description {
  margin-top: 20px;
}

.container .register .link .sell {
  background-color: var(--Accent-Blue);
  text-align: center;
  font-size: 13px;
  color: #FFF;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
}

.container .register {
  width: 100%;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFF;
  padding: 40px;
  border-radius: 10px;
}

.container form input {
  padding: 10px 25px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 800;
  border: 1px solid var(--Grayish-Blue);
  outline: 1px solid var(--Grayish-Blue);
}

.container form .button-form {
  background-color: var(--PrimaryGreen);
  padding: 10px 0;
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 5px 0px hsl(154, 49%, 51%);
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease-in-out;
  border-radius: 5px;
}

.container form .button-form:active { 
  background-color: hsl(154, 79%, 61%);
}

.container form .terms-services {
  font-size: 11px;
  text-align: center;
  color: var(--Grayish-Blue);
  font-weight: 600;
}

.container form .terms-services span {
  color: var(--Primary-Red);
}